a {
    border-bottom: 1px solid gray;
    color: white;
    text-decoration: none;
}
a:hover {
    color: gray;
}
body {
    font-family: Tahoma;
    font-size: 12.5px;
    margin: 0;
}
.active-menu-element {
    background: #292929;
    border-left: 3px solid green;
    padding-left: 10px !important;
}
.aside-menu-title {
    color: white;
    font-size: 18px;
    text-transform: uppercase;
}
.card-logo-side img {
    width: 150px;
}
.card-text-side {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}
.card-text-side span:first-of-type, .card-text-side span:nth-of-type(2) {
    margin-bottom: 10px;
}
.card-title {
    font-size: 20px;
}
.check-user-container {
    background: #1d1d1d;
    color: white;
    padding: 20px;
    margin-top: 30px;
}
.check-user-container .input-container:nth-of-type(2) {
    display: flex;
    margin-top: 20px;
}
.empty-search-result-for-source-list {
    background: #404040;
    color: white;
    padding: 20px;
    margin-top: 30px;
}
.filter-container {
    color: white;
}
.filter-container:not(:first-of-type) {
    margin-top: 10px;
}
.filter-container span {
    margin-bottom: 10px;
}
.flexbox {
    box-shadow: 0 2px 4px #101010;
    display: flex;
    height: 30px;
    margin-top: 10px;
}
.flexbox input {
    border: none;
    padding-left: 5px;
    width: 100%;
}
.flexbox-container {
    display: flex;
    height: 100vh;
    width: 100%;
}
.hidden {
    display: none;
}
.loading-screen {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100%;
}
.search-button {
    background: white url(../img/search.svg) 50% no-repeat;
    background-size: 50%;
    border: none;
    cursor: pointer;
    width: 35px;
}
.search-button:hover {
    background-color: #e4e4e4;
}
.side-menu {
    background: #404040 url(../img/pink_dust.png);
    padding: 30px;
    width: 25%;
}
.side-menu ul {
    color: white;
    list-style: none;
    margin-top: 20px;
    padding: 0;
}
.side-menu ul li {
    cursor: pointer;
    padding: 8px 0;
}
.side-menu ul li:hover {
    text-decoration: underline;
}
.slide-up-button {
    background: #a7a7a7 url(../img/arrow-up.svg) 50% no-repeat;
    background-size: 30%;
    cursor: pointer;
    display: none;
    opacity: .1;
    width: 5%;
}
.slide-up-button:hover {
    background-color: #dcdcdc;
    opacity: .5;
}
.source-card {
    background: #1d1d1d;
    border-radius: 10px;
    color: white;
    display: flex;
    padding: 20px;
    margin: 20px 0;
}
.source-center-container {
    overflow: auto;
    padding: 0 30px;
    width: 75%;
}

#oneSourceSelect {
    margin-left: 10px;
}